# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Poetry
poetry.toml

# Django
*.log
db.sqlite3
media/
staticfiles/
/cinereserve/settings/local.py

# Env / secrets
.env
.env.*
!.env.example

# Testes / cobertura
.pytest_cache/
.coverage
htmlcov/

# Docker
*.pid

# IDE / SO
.vscode/
.idea/
.DS_Store